:root
{
	--AuxiliaryColumnBackground: transparent;
	--BodyBackground: #000000 url("https://files.gamebanana.com/bitpit/steam_bg.png") top center no-repeat fixed;
	--BodyWrapperBackground: #000000 url("https://files.gamebanana.com/bitpit/steam_bg.png") top center no-repeat fixed;
	--ButtonHoverBackgroundColor: #353E4E;
	--ButtonHoverFontColor: #FCFCFC;
	--DefaultTextFontFamily: "Motiva Sans", Arial, Helvetica, sans-serif;
	--DefaultTechnicalFontFamily: "Motiva Sans", Arial, Helvetica, sans-serif;
	--DefaultTextColor: #969696;
	--InputBackgroundColor: #0F1117;
    --InputHoverBackgroundColor: #0F1117;
    --InputFocusBackgroundColor: #0F1117;
	--LinkColor: #FFFFFF;
	--LinkHoverColor: #56A1CC;
}

#SiteLogo img,
#SiteLogo spriteicon
{
	display : none;
}

#SiteLogo:after
{
	content: url("https://files.gamebanana.com/bitpit/steam_gb.png") !important;
}

#SubNavigator, #HeadlineWrapper overlay
{
	background: #171A21;
}

#TopNav, #SideNav, #MainContentHeader.Fixed
{
	background: linear-gradient(to right, rgba(109, 38, 44, 0.301), rgba(50, 255, 193, 0.103)) !important;
}

#SubNavigator .BasicSubNavigator, #SubNavigator .DropdownMenuSubNavigator
{
    display: flex;
	justify-content: center;
	text-transform: uppercase;
	font-weight: normal;
}

#ContentGrid
{
	background: linear-gradient(to right, rgba(109, 38, 44, 0.301), rgba(50, 255, 193, 0.103));
}

#PrimaryNav, #SecondaryNav
{
	background: #171A21 !important;
}

#HeadlineWrapper overlay h1
{
	background: #FFFFFF;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 72px;
	text-shadow: none;
}

#HeadlineWrapper overlay h2
{
	background: #FFF;
	color: #000;
	display: none;
	text-shadow: none;
}

#PageTitle::after
{
	background: #FFFFFF;
	background-clip: text;
	-webkit-background-clip: text;
    content: "Average TF2CutContent Enjoyer";
    display: block;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-size: 34px;
	text-shadow: none;
	text-transform: none;
	margin-top: -15px;
}

.PageModule>h2, .PageModule>.Content
{
	backdrop-filter: blur(15px);
	background: rgba( 0, 0, 0, 0.3 );
    border-radius: 3px;
    padding: 6px 9px;
}

.PageModule>h2
{
	color: #FFFFFF;
}

.PageModule
{
	border-right: var(--AuxiliaryColumnBorder);
}

#BuddiesModule h2, #MedalsModule h2, #ResponsibilitiesModule h2, #PointsModule h2, #tpm__sLatestProfileVisitors h2, #CoreStatsModule h2
{
	text-align: left;
}

#MedalsModule, #ResponsibilitiesModule, #BuddiesModule, #PointsModule, #tpm__sLatestProfileVisitors, #CoreStatsModule
{
	text-align: center;
}

#CoreStatsModule ul 
{
	display: -ms-flexbox;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.ExtendedContentButton, button, .ButtonLike
{
	background: #2B3444;
	color: #E8E9EB;
	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
	text-transform: none;
}

div.Content, div.InputWrapper
{
	border-radius: 3px;
}

img.PreviewImage, recordCell.Preview img
{
	border-radius: 4px;
	max-height: 112px;
}

.PostsListModule .Posts>li .PostReplies .PostsListModule .Content, form.Mainform
{
	border-radius: 3px;
	padding: 10px;
}

input[type=text], input[type=password], input[type=password], input[type=number], input[type=email], input[type=num], input[type=tel], select, .SelectLike, option, .OptionLike, optgroup, textarea, .TextareaLike
{
	background: #0F1117;
}

.MainForm .InputsWrapper fieldset .InputWrapper
{
	background: #20222F;
	border-radius: 3px;
}

#AddIdeaLink span
{
	color: #FFE033;
}

::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}


:root
{
	--defaultCursor  : url('http://clifffordw.github.io/GamebananaUI/Cursors/pointer.png'),    default !important;
	--helpCursor     : url('http://clifffordw.github.io/GamebananaUI/Cursors/help.png'),       help !important;
	/* --grabCursor     : url('https://i.stack.imgur.com/VYB5Y.png'),                        grab !important;
	--grabbingCursor : url('https://i.stack.imgur.com/EjHIC.png'),                        grabbing !important; */
	--moveCursor     : url('http://clifffordw.github.io/GamebananaUI/Cursors/move.png') 12 12, move !important;
	--pointerCursor  : url('http://clifffordw.github.io/GamebananaUI/Cursors/link.png'),    pointer !important;
}

/*** Default Cursor ***/
/* -- This is the main cursor which switches to secondary cursors where applicable. -- */

body,
.lg-outer #lg-dropdown-overlay /* Profile.css <large> */
{
	cursor : var(--defaultCursor);
}



/*** Help Cursor ***/
/* -- This is the cursor meant for places which give info on hover/click like Tooltips, stamps, etc. -- */

.RichText .Spoiler,                                  /* GenericPage.css */
#MedalsModule li,                                    /* Profile.css <small> */
.PostsListModule .Posts>li article .PostStamps:hover /* Profile.css <large> */
{
	cursor : var(--helpCursor);
}



/** Grab and Grabbing Cursors ***/
/* -- These cursors appear over objects that can be grabbed. I don't know where they are being used in GB. -- */

/* Profile.css <large> */
.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item,
.lg-outer.lg-grab img.lg-object
{
	cursor : var(--grabCursor);
}

/* Profile.css <large> */
.lg-outer .lg-thumb-outer.lg-grabbing .lg-thumb-item,
.lg-outer.lg-grabbing img.lg-object
{
	cursor : var(--grabbingCursor);
}



/*** Move Cursor ***/
/* -- This cursor indicates controls or buttons that can be moved or can be dragged to move an associated object. -- */
/* -- The '12 12' are X and Y origin coordinates for the cursor. The place where this cursor will render will consider 12px 12px as the center of the custom cursor image instead of the default 0px 0px. -- */

input[type=range]::-webkit-slider-thumb,
.PageModule>.ModuleTools .MoveButton,
body.ModuleMoverMode .ContentColumn>module,
.Editor .ViewModes .Wysiwyg .RichText img,
.Editor .WysiwygPalettes .ImageInserter ul li,
.Editor .WysiwygPalettes .BitpitFileInserter ul li,
.Editor .WysiwygPalettes .UsernameInserter ul li,
.Editor .WysiwygPalettes .CannedResponseInserter ul li,
spriteIcon.MiscIcon.SortHandle,
.SpriteIcon.MiscIcon.SortHandle
{
	cursor : var(--moveCursor);
}



/*** Pointer Cursor ***/
/* -- This is the second major cursor next to the default one. It appears over clickable elements like links and buttons. -- */

/* GenericPage.css */
a,
.Linklike,
button,
.ButtonLike,
input[type=range]::-webkit-slider-runnable-track,
select,
.SelectLike,
.BeaconParent .Beacon,
.ExpandableToggle,
.PageModule>.RelatedLinksButton,
.MainForm .InputsWrapper .OptionalInput>legend,
fieldset#Userid .AdvancedElement_InputSuggestionsList li,
.AdvancedListSettingsModule>.Content .OrderAndSortControls fieldset legend,
.AdvancedElement_FloatingButtonTabs li,
.AdvancedElement_InputSuggestionsList li,
.AdvancedElement_Tabs li,
.AdvancedElement_GraphicalSelect .OptionsWrapper .Options li,
.AdvancedElement_Switch.List ul li,
#MasterLog log .CloseButton,
.Modal .CloseModal,
.Editor .ViewModeSwitchers span,
.Editor .WysiwygPalettes>h4,
#PrimaryNav controls,
#SecondaryNav controls,
body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>icon:hover,
body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #SecondaryNav module>widget:hover,
body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>icon:hover,
body[data-_sDeviceType=desktop][data-_sNavItemActivation=Click] #PrimaryNav module>widget:hover,
#HiddenColumnToggleButton,
#AlertsNavModule pane .Controls .MarkAllAsSeen,
#ActivityNavModule pane .Controls .MarkAllAsSeen,
#AlertsNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper,
#ActivityNavModule pane .Broadcasts .Unseen .BroadcastStatusWrapper,
#GamesNavModule widget ul li,
#BuddiesNavModule pane #BuddyChatInitiators li,
.RichText .TableOfContents ul li,

/* index.css */
#FeaturesSliderModule .Slides .Slide,
#FeaturesSliderModule .Slides .ExpandedSlide,
#FeaturesSliderModule .Slides .Slide .Info .Name,
#FeaturesSliderModule .Slides .ExpandedSlide .Info .Name,
#SubmissionsListAdvancedListSettingsModule .RecentGames li,
#SubmissionsListAdvancedListSettingsModule .SelectedGames li,

/* Profile.css <large> */
#ThanksToggleModule .Content #ShowThanksOptionsToggle.ModalLauncher,
#UpdatesModule .ToggleContentButton,
.lg-actions .lg-next,
.lg-actions .lg-prev,
.lg-toolbar .lg-icon,
.lg-outer .lg-thumb-item,
.lg-outer .lg-toogle-thumb,
.lg-outer .lg-video .lg-video-play,
.lg-outer .lg-pager-cont
{
	cursor : var(--pointerCursor);
}