/*  This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
    */

/* Valve Orange by bonkmaykr */
/* forked from tom           */
/*                           */
/* bonkmaykr.xyz             */
/* Gamebanana:bonkmaykr      */
@import url("https://bonkmaykrq.github.io/gbubers/snippets/oldalertsdark.css");
/*@import url("https://bonkmaykrq.github.io/gbubers/snippets/scanlines.css");
@import url("https://bonkmaykr.xyz/index/assets/css/gamebanana/scanlines.css");*/
/*backup version -- github seemed to be having issues with this one*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


@font-face {
  font-family: Abel;
  src: url(https://www.fontsquirrel.com/presentation/theme_site/fonts/source_sans_pro/sourcesanspro-regular-webfont.woff);
}

@font-face {
  font-family: pixelated;
  src: url(https://clifffordw.github.io/GamebananaUI/Hurofo.ttf);
}


/* @font-face {
  font-family: pixelated;
  src: url(https://clifffordw.github.io/GamebananaUI/Montserrat.otf);
} */

@font-face {
  font-family: statelabel;
  src: url(https://files.gamebanana.com/bitpit/tom_s_upic.ttf);
}

@font-face {
  font-family: statelabel;
  src: url(https://files.gamebanana.com/bitpit/tom_s_upic.ttf);
}

h1 {
  font-size: 28px;
  font-family: pixelated !important;
  text-transform: lowercase;
  line-height: 1.1em;
}

h2 {
  font-size: 24px;
  font-family: pixelated !important;
  text-transform: lowercase;
  line-height: 1.1em;
}

h3 {
  font-size: 18px;
  font-family: pixelated !important;
  text-transform: lowercase;
  line-height: 1.1em;
}

.RichText h1 {
  font-size: 28px;
  font-family: Abel !important;
}

.RichText h2 {
  font-size: 22px;
  font-family: Abel !important;
}

.RichText h3 {
  font-size: 16px;
  font-family: Abel !important;
}



module>h2 {
  font-family: pixelated !important;
  font-size: 21px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

}

nav>wrapper>module>pane>header>strong {
  /*font-size:30px;*/
  /*margin-left:5px;*/

  font-family: var(--NavPaneTitleFontFamily);
  font-size: var(--NavPaneTitleFontSize);
}

body {
  background: url("https://clifffordw.github.io/GamebananaUI/BG/bg.gif"), #000000 !important;
  background-attachment: fixed !important;
  backdrop-filter: blur(5px) brightness(0.6) !important;
    background-repeat: no-repeat !important;

  background-size: cover !important;
}




#BodyWrapper {
  font-family: Abel;
  background: transparent;
}

#MainContent {
  margin-top: 0px;
  padding-top: var(--PrimaryNavHeight);
}

#ResponsibilitiesModule div dl dd ul li {
  border: none;
  box-shadow: none;
}

pane article {
  background: rgba(255, 84, 0, 0.075);
}

pane,
#MasterLog logs log,
#BuddyChatPromoColumn {
  background: rgba(0, 0, 0, 0.85) !important;
  backdrop-filter: blur(7px);
  border: 2px solid #ff8400 !important;
  border-radius: 10px;
}

#PrimaryNav {
  top: 5px !important;
  background: rgba(0, 0, 0, 0.95) !important;
  /*backdrop-filter: blur(7px);*/
  border: 5px solid #ff00ff !important;
  border-radius: 15px 15px 15px 0px;
}

#PrimaryNav module pane,
#PrimaryNav>wrapper module pane article,
#SecondaryNav module pane,
#SecondaryNav>wrapper module pane article,
#SubNavigator .DropdownMenuSubNavigator>li ul {
  scrollbar-width: thin;
  backdrop-filter: blur(5px) brightness(0.5);
  border-radius: 8px;
  border: #b5078fbf solid 2px;
  background: #51044b47 !important;
}


#SecondaryNav {
  background: rgba(0, 0, 0, 0.75) !important;
  border-radius: 0px 0px 15px 15px;
  border: 5px solid #ff00ff !important;
}

#SecondaryNav pane {
  border: none !important;
  background: transparent !important;
}

#SecondaryNav.Expanded {
  overflow: visible;
}






@keyframes neonFlicker {
  0%, 100% {
    opacity: 1;
    filter: drop-shadow(0 0 10px red);
  }
  50% {
    opacity: 0.9;
    filter: drop-shadow(0 0 20px #dc00ff);
  }
}

#PageTitle {
  
  font-size: var(--PageTitleFontSize);
  margin: 0px;
  padding: 0px;
  word-break: break-word;
  background-size: 350px;
  background-repeat: no-repeat;
  color: transparent;
  content: url(https://clifffordw.github.io/GamebananaUI/zerotsu.png);
  
  width: 500px;
  


  animation: neonFlicker 1.9s infinite;

  
}



:root {
  --NavUpdatesIndicatorColor: #ff00ff;

  --NavPaneBackgroundColor: #00000088;

  --LinkColor: #ff00ff;
  /*#80a0a0*/
  --LinkHoverColor: #ffcccc;

  --ButtonBackground: #ff00ff;
  --ButtonHoverBackgroundColor: #8b007f;
  /*cf6430*/
  --ButtonFontColor: black;
  --ButtonHoverFontColor: white;

  --PageTitleFontSize: 4em;
  --PageTitleColor: #ff00ff;

  --SubNavigatorBorderColor: #00000088;
  --SubNavigatorActiveTabBorderColor: #ff00ff;
  --SubNavigatorTabHoverBorderColor: white;
  --SubNavigatorDropdownBackgroundColor: rgba(255, 0, 242, 0.48);

  --InputTextColor: #ffffff;
  --InputBackgroundColor: rgba(255, 84, 0, 0.075);
  --InputHoverBackgroundColor: rgba(255, 84, 0, 0.095);
  --InputFocusBackgroundColor: rgba(255, 84, 0, 0.125);
  --InputPlaceholderColor: #ffffff88;

  --DefaultTextColor: #fdfdfd;
  --DefaultBlueColor: #2244ff;
  --DefaultRedColor: #ff4444;
  --DefaultRedDarkColor: #f74843;
  --DefaultGreenColor: #00cc00;
  --DefaultGreenDarkColor: #5c7e10;
  --DefaultPurpleColor: #4400ff;
  --DefaultGreyColor: #c6c6c6;
  --DefaultOrangeColor: #ff00ff;
  --DefaultYellowColor: #ffff00;
  --StateLabelBackground: #ff00ff
    /*#55cdd477*/
  ;

  --MasterLogBackgroundColor: #0e1317;
  --MasterLogFontSize: 0.9em;
  --AuxiliaryColumnBackground: transparent;
  --AuxiliaryColumnBorder: none;
  --AuxiliaryColumnModuleBorderColor: transparent;

  --ModuleTitleUnderlineColor: transparent;
}

.ExtendedContentButton {
  background: var(--ButtonBackground);
  color: var(--ButtonFontColor);
}

.ExtendedContentButton:hover {
  background: var(--ButtonHoverBackgroundColor);
  color: var(--ButtonHoverFontColor);
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ff00ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffff88;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: #ffcc00;


}

::selection {
  color: black;
  background: #ff00ff;
}

#GbLogo {
  filter: hue-rotate(-30deg) !important;
}

/*partial scrollbar code for Firefox - hamstar*/
@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #ff00ff #000000;
    /*scrollbar-width: thin;*/
  }
}

module.PageModule {
  background: rgba(134, 0, 127, 0.31);

  border: 5px solid #ff00ff !important;
  border-radius: 15px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  backdrop-filter: blur(10px) brightness(0.5);
}

#CoreStatsModule .Card {
  --FlowGap: .25em;
  align-items: center;
  min-width: 10em;
  border: 2px solid #e118e1;
  border-radius: 150px;
  background: #3b0f6245 !important;
  backdrop-filter: blur(1px);
}


#SubNavigator .BasicSubNavigator,
#SubNavigator .DropdownMenuSubNavigator {
  background: #340523c9;

  border-radius: 15px;
}

.PostReplies .PostReplies>.PostsListModule {
  background: transparent !important;
  border: none !important;
}

.PostReplies>.PostsListModule {
  background: transparent !important;
}

/*.PostStamps::before {
  content:"Stamps:";
}*/

/*.PostStamps {
  border:2px solid #ff8400 !important;
  border-radius: 7.5px;
  background:#000000cc;
  padding:2px !important;
}*/

.PostStamps {
  overflow-x: visible;
  white-space: nowrap;
}

.PostStamps li {
  border: 2px solid !important;
  padding-right: 0px !important;
  padding-left: 10px !important;
  /*transition-timing-function: ease-out;
  transition-duration: 0.2s;*/
  width: 25px;
  overflow-x: hidden;
  white-space: nowrap;
  /*margin-bottom: 0px !important;*/
  margin-bottom: .25em !important;
  margin-top: .25em !important;
}

.PostStamps li:hover {
  border: 2px solid !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  /*transition-timing-function: ease-out;
  transition-duration: 0.2s;*/
  width: auto;
}

.PostStamps li span {
  /*overflow-x:hidden;
  white-space: nowrap;
  width:0px;*/
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.PostStamps li:hover span {
  /*width:auto;*/
  /*transition-timing-function: ease-out;
  transition-duration: 0.2s;*/
}

#ImportantLinks li a {
  background: #ff00ff !important;
  color: black !important;
}

#ImportantLinks li a:hover {
  background: black !important;
}

#ImportantLinks li a:hover span {
  color: #740065 !important;
}

wrapper#BodyWrapper {
  --BodyWrapperBackground: transparent;
}


.Record .PreviewWrapper:hover {
  transition: .2s;


  border-radius: 10px;
  filter: drop-shadow(0rem 0rem .75rem rgb(255, 0, 221)) saturate(100%);



}


.Avatar img:hover {
  transition: .2s;

  scale: 110%;
  border-radius: 10px;
  filter: drop-shadow(0rem 0rem .75rem rgb(195, 0, 255)) saturate(100%);


}


.Record .PreviewImage {

  transition: .2s;
  border-radius: 8px !important;
}





.Record .PreviewImage:hover {

  scale: 90%;
  max-height: 25em;
  transition: .2s;


}

.Record .PreviewWrapper {
  transition: .2s;
  filter: saturate(50%);


}


.Avatar img {
  transition: .2s;



}

#MedalsModule li:hover {

  scale: 130%;
  transition: .2s;
  border-radius: 10px;
  filter: drop-shadow(0rem 0rem .75rem #9400a2) saturate(100%);
}

#MedalsModule li {

  transition: .2s;
}

.bmAudio {
  display: none;
}











